@import '../../assets/scss/common';

.search-bar-component {
    
    width: 100%;
    max-width: 1200px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .search-bar-logo-container {
        width: 80px;
        .search-bar-logo-img {
            display: block;
            cursor: pointer;
        }
    }

    .search-bar-input {
        font-size: 18px;
        width: 100%;
        max-width: 1200px;
        border: none;
        height: 100%;
        padding-left: 16px;
        border-radius: 4px 0px 0px 4px;
    }

    .search-bar-button-container {
        background-color: $light-gray;
        position: relative;
        height: 100%;
        width: 40px;
        @include makeFlex(row);
        justify-content: center;
        align-items: center;
        border-radius: 0px 4px 4px 0px;

        .search-bar-button-img {
            display: block;
            height: 18px;
        }
        
        &:hover {
            background-color: $medium-gray;
            cursor: pointer;
        }
    }
}

@media (max-width: 1260px) {
    .search-bar-component {
        width: 95%;
    }
}