@import '../../assets/scss/common';

.breadcrum-component {
    font-size: 14px;
    margin-top: $spacing1x;
    margin-bottom: $spacing1x;
    color: $medium-gray;
    @include makeFlex(row);

    .breadcrum-component-container {
        @include makeFlex(row);
    }

    .breadcrum-component-separator {
       margin-left: 15px;
       margin-right: 5px;
    }
}